<html>
    <head>
        <title>Cuisine List</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Here are your Cuisine Types</h1>

            <p>Add a new cuisine type:</p>
